In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import matplotlib
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from IPython.display import display
pd.options.display.max_columns = None

# 12. 20년 데이터

In [2]:
df20 = pd.read_csv('./dataset/players_20.csv')
df20

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,preferred_foot,international_reputation,weak_foot,skill_moves,work_rate,body_type,real_face,release_clause_eur,player_tags,team_position,team_jersey_number,loaned_from,joined,contract_valid_until,nation_position,nation_jersey_number,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,player_traits,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_short_passing,attacking_volleys,skill_dribbling,skill_curve,skill_fk_accuracy,skill_long_passing,skill_ball_control,movement_acceleration,movement_sprint_speed,movement_agility,movement_reactions,movement_balance,power_shot_power,power_jumping,power_stamina,power_strength,power_long_shots,mentality_aggression,mentality_interceptions,mentality_positioning,mentality_vision,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST",Left,5,4,4,Medium/Low,Messi,Yes,195800000.0,"#Dribbler, #Distance Shooter, #Crosser, #FK Sp...",RW,10.0,NaN,2004-07-01,2021.0,NaN,NaN,87.0,92.0,92.0,96.0,39.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,"Beat Offside Trap, Argues with Officials, Earl...",88,95,70,92,88,97,93,94,92,96,91,84,93,95,95,86,68,75,68,94,48,40,94,94,75,96,33,37,26,6,11,15,14,8,89+2,89+2,89+2,93+2,93+2,93+2,93+2,93+2,93+2,93+2,93+2,92+2,87+2,87+2,87+2,92+2,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,93,58500000,405000,"ST, LW",Right,5,4,5,High/Low,C. Ronaldo,Yes,96500000.0,"#Speedster, #Dribbler, #Distance Shooter, #Acr...",LW,7.0,NaN,2018-07-10,2022.0,LS,7.0,90.0,93.0,82.0,89.0,35.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,"Long Throw-in, Selfish, Argues with Officials,...",84,94,89,83,87,89,81,76,77,92,89,91,87,96,71,95,95,85,78,93,63,29,95,82,85,95,28,32,24,7,11,15,14,11,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,88+3,88+3,81+3,81+3,81+3,88+3,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM",Right,5,5,5,High/Medium,Neymar,Yes,195200000.0,"#Speedster, #Dribbler, #Playmaker , #Crosser,...",CAM,10.0,NaN,2017-08-03,2022.0,LW,10.0,91.0,85.0,87.0,95.0,32.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,"Power Free-Kick, Injury Free, Selfish, Early C...",87,87,62,87,87,96,88,87,81,95,94,89,96,92,84,80,61,81,49,84,51,36,87,90,90,94,27,26,29,9,9,15,15,11,84+3,84+3,84+3,90+3,89+3,89+3,89+3,90+3,90+3,90+3,90+3,89+3,82+3,82+3,82+3,89+3,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,GK,Right,3,3,1,Medium/Medium,Normal,Yes,164700000.0,NaN,GK,13.0,NaN,2014-07-16,2023.0,GK,1.0,NaN,NaN,NaN,NaN,NaN,NaN,87.0,92.0,78.0,89.0,52.0,90.0,"Flair, Acrobatic Clearance",13,11,15,43,13,12,13,14,40,30,43,60,67,88,49,59,78,41,78,12,34,19,11,65,11,68,27,12,18,87,92,78,90,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,91,90000000,470000,"LW, CF",Right,4,4,4,High/Medium,Normal,Yes,184500000.0,"#Speedster, #Dribbler, #Acrobat",LW,7.0,NaN,2019-07-01,2024.0,LF,10.0,91.0,83.0,86.0,94.0,35.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,"Beat Offside Trap, Selfish, Finesse Shot, Spee...",81,84,61,89,83,95,83,79,83,94,94,88,95,90,94,82,56,84,63,80,54,41,87,89,88,91,34,27,22,11,12,6,8,8,83+3,83+3,83+3,89+3,88+3,88+3,88+3,89+3,89+3,89+3,89+3,89+3,83+3,83+3,83+3,89+3,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,56,40000,2000,CB,Right,1,3,2,Medium/High,Normal,No,70000.0,NaN,RES,36.0,NaN,2018-07-13,2019.0,NaN,NaN,57.0,23.0,28.0,33.0,47.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,17,40,35,27,24,23,21,28,35,56,58,45,40,73,36,70,60,47,16,46,48,28,25,39,41,45,50,52,5,5,13,5,14,32+2,32+2,32+2,31+2,31+2,31+2,31+2,31+2,31+2,31+2,31+2,33+2,33+2,33+2,33+2,33+2,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,56,40000,2000,CB,Right,1,2,2,Medium/Medium,Normal,No,72000.0,NaN,SUB,31.0,NaN,2019-02-01,2022.0,NaN,NaN,58.0,24.0,33.0,35.0,48.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,20,42,43,28,32,24,29,39,31,55,61,43,41,76,33,72,55,44,20,42,49,23,25,37,35,42,53,57,13,6,14,11,9,33+2,33+2,33+2,33+2,32+2,32+2,32+2,33+2,33+2,33+2,33+2,35+2,36+2,36+2,36+2,35+2,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,56,40000,1000,CM,Right,1,2,2,Low/Medium,Lean,No,70000.0,NaN,SUB,38.0,NaN,2019-01-01,2019.0,NaN,NaN,54.0,35.0,44.0,45.0,48.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,33,49,53,32,40,32,32,55,49,55,54,52,52,57,48,60,50,51,26,50,45,38,38,36,39,46,52,46,7,8,10,6,14,43+2,43+2,43+2,43+2,43+2,43+2,43+2,43+2,44+2,44+2,44+2,45+2,46+2,46+2,46+2,45+2,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,54,40000,1000,CM,Right,1,2,2,Low/Low,Lean,No,70000.0,NaN,SUB,33.0,NaN,2019-02-01,2022.0,NaN,NaN,59.0,35.0,47.0,47.0,45.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,34,47,54,28,42,37,39,48,49,55,63,55,54,59,46,61,42,55,28,57,49,31,48,36,40,39,44,54,14,9,13,13,13,43+2,43+2,43+2,45+2,44+2,44+2,44+2,45+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,51,40000,2000,CM,Right,1,3,2,Medium/Medium,Normal,No,NaN,NaN,SUB,37.0,Tianjin TEDA FC,NaN,2019.0,NaN,NaN,60.0,32.0,51.0,45.0,47.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,30,48,58,25,40,34,35,52,46,54,64,52,49,71,41,64,40,61,30,54,47,29,52,38,42,52,42,48,8,12,14,9,10,42+2,42+2,42+2,44+2,43+2,43+2,43+2,44+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,46+2,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [3]:
df20 = df20[['sofifa_id','short_name','age','nationality','club','overall','potential',
             'wage_eur','value_eur','contract_valid_until']]


df20 = df20.rename(columns={'sofifa_id':'ID','short_name':'Name','age':'Age20',
                            'nationality':'Nationality','club':'Club20',
                            'overall':'Overall20','potential':'Potential20',
                            'wage_eur':'Wage20','value_eur':'Value20',
                            'contract_valid_until':'ContractValidUntil20'})

df20

,ID,Name,Age20,Nationality,Club20,Overall20,Potential20,Wage20,Value20,ContractValidUntil20
0,158023,L. Messi,32,Argentina,FC Barcelona,94,94,565000,95500000,2021.0
1,20801,Cristiano Ronaldo,34,Portugal,Juventus,93,93,405000,58500000,2022.0
2,190871,Neymar Jr,27,Brazil,Paris Saint-Germain,92,92,290000,105500000,2022.0
3,200389,J. Oblak,26,Slovenia,Atlético Madrid,91,93,125000,77500000,2023.0
4,183277,E. Hazard,28,Belgium,Real Madrid,91,91,470000,90000000,2024.0
...,...,...,...,...,...,...,...,...,...,...
18273,245006,Shao Shuai,22,China PR,Beijing Renhe FC,48,56,2000,40000,2019.0
18274,250995,Xiao Mingjie,22,China PR,Shanghai SIPG FC,48,56,2000,40000,2022.0
18275,252332,Zhang Wei,19,China PR,Hebei China Fortune FC,48,56,1000,40000,2019.0
18276,251110,Wang Haijian,18,China PR,Shanghai Greenland Shenhua FC,48,54,1000,40000,2022.0
18277,233449,Pan Ximing,26,China PR,Hebei China Fortune FC,48,51,2000,40000,2019.0

In [4]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    18278 non-null  int64
 1   Name                  18278 non-null  object
 2   Age20                 18278 non-null  int64
 3   Nationality           18278 non-null  object
 4   Club20                18278 non-null  object
 5   Overall20             18278 non-null  int64
 6   Potential20           18278 non-null  int64
 7   Wage20                18278 non-null  int64
 8   Value20               18278 non-null  int64
 9   ContractValidUntil20  18038 non-null  float64
dtypes: float64(1), int64(6), object(3)
memory usage: 1.4+ MB

## 전처리

In [5]:
# ContractValidUntil
df20.ContractValidUntil20.unique()

array([2021., 2022., 2023., 2024., 2020., 2026., 2019., 2025.,   nan])

In [6]:
df20.ContractValidUntil20.isnull().sum()

240

In [7]:
df20.ContractValidUntil20.replace(np.nan, '0', inplace=True)
df20.drop(df20[df20['ContractValidUntil20']==0].index, inplace=True)
df20.ContractValidUntil20 = df20.ContractValidUntil20.astype(int)
df20.ContractValidUntil20

0        2021
1        2022
2        2022
3        2023
4        2024
         ...
18273    2019
18274    2022
18275    2019
18276    2022
18277    2019
Name: ContractValidUntil20, Length: 18278, dtype: int32

In [8]:
df20.ContractValidUntil20.isnull().sum()

0

In [9]:
# Value20 원화로 바꿈.
df20.Value20 = df20.Value20*1300/10000
df20.Value20

0        12415000.0
1         7605000.0
2        13715000.0
3        10075000.0
4        11700000.0
            ...
18273        5200.0
18274        5200.0
18275        5200.0
18276        5200.0
18277        5200.0
Name: Value20, Length: 18278, dtype: float64

In [10]:
df20.Value20.unique()

array([1.2415e+07, 7.6050e+06, 1.3715e+07, 1.0075e+07, 1.1700e+07,
       8.7750e+06, 1.0140e+07, 5.8500e+06, 1.0465e+07, 1.2155e+07,
       1.0790e+07, 7.5400e+06, 7.2800e+06, 8.5800e+06, 3.1850e+06,
       7.8000e+06, 4.0950e+06, 6.8900e+06, 8.3850e+06, 7.1500e+06,
       8.9700e+06, 9.9450e+06, 9.4250e+06, 7.0850e+06, 9.4900e+06,
       8.8400e+06, 6.2400e+06, 4.9400e+06, 3.3800e+06, 4.1600e+06,
       4.6800e+06, 6.1100e+06, 3.6400e+06, 7.4100e+06, 8.0600e+06,
       7.3450e+06, 8.3200e+06, 6.9550e+06, 2.5350e+06, 2.4050e+06,
       4.2250e+06, 5.2000e+06, 5.3300e+06, 6.5000e+06, 3.9650e+06,
       6.7600e+06, 7.9300e+06, 6.6950e+06, 4.8750e+06, 6.6300e+06,
       5.5250e+06, 5.0700e+06, 3.7050e+06, 6.0450e+06, 5.6550e+06,
       5.7850e+06, 5.9800e+06, 5.3950e+06, 6.5650e+06, 6.4350e+06,
       6.3700e+06, 4.3550e+06, 4.0300e+06, 1.8200e+06, 4.4200e+06,
       4.4850e+06, 3.2500e+06, 4.2900e+06, 5.2650e+06, 4.7450e+06,
       5.1350e+06, 8.4500e+05, 3.0550e+06, 2.4700e+06, 3.4450e+06,
       2.9900e+06, 2.6650e+06, 3.8350e+06, 3.3150e+06, 2.7300e+06,
       3.1200e+06, 3.7700e+06, 4.5500e+06, 4.6150e+06, 3.9000e+06,
       2.8600e+06, 3.5750e+06, 3.5100e+06, 2.7950e+06, 2.6000e+06,
       3.3800e+05, 1.4950e+06, 1.5600e+06, 1.2350e+06, 2.0150e+06,
       2.1450e+06, 2.9250e+06, 2.2100e+06, 2.3400e+06, 4.8100e+05,
       9.1000e+05, 1.0400e+06, 1.7550e+06, 1.4300e+06, 2.2750e+06,
       1.3650e+06, 1.3000e+06, 0.0000e+00, 2.0800e+06, 7.1500e+05,
       1.9500e+06, 1.1050e+06, 7.8000e+05, 1.6900e+06, 1.8850e+06,
       1.6250e+06, 6.5000e+05, 5.2000e+05, 6.1100e+05, 1.9500e+05,
       3.2500e+05, 3.9000e+05, 1.1700e+06, 9.7500e+05, 5.8500e+05,
       4.4200e+05, 4.9400e+05, 4.6800e+05, 2.7300e+05, 6.2400e+05,
       6.3700e+05, 3.7700e+05, 5.5900e+05, 3.6400e+05, 3.1200e+05,
       4.2900e+05, 5.3300e+05, 3.5100e+05, 5.4600e+05, 1.6900e+05,
       2.0800e+05, 2.2100e+05, 1.0075e+05, 4.1600e+05, 4.5500e+05,
       5.0700e+05, 2.8600e+05, 8.7750e+04, 2.6000e+05, 2.3400e+05,
       2.9900e+05, 4.0300e+05, 5.7200e+05, 5.9800e+05, 1.4300e+05,
       1.2350e+05, 2.4700e+05, 1.3000e+05, 5.2000e+04, 1.0400e+05,
       1.8200e+05, 1.5600e+05, 9.4250e+04, 8.1250e+04, 6.8250e+04,
       1.1050e+05, 1.2675e+05, 4.2250e+04, 1.1375e+05, 7.4750e+04,
       3.1200e+04, 6.1750e+04, 5.5250e+04, 6.5000e+04, 1.1700e+05,
       8.4500e+04, 9.7500e+04, 1.0725e+05, 4.8750e+04, 2.3400e+04,
       7.1500e+04, 3.9000e+04, 4.5500e+04, 7.8000e+04, 1.2025e+05,
       3.3800e+04, 5.8500e+04, 1.4300e+04, 2.4700e+04, 2.9900e+04,
       9.1000e+04, 2.7300e+04, 3.6400e+04, 2.0800e+04, 1.5600e+04,
       1.9500e+04, 1.1700e+04, 3.2500e+04, 3.5100e+04, 1.6900e+04,
       1.0400e+04, 2.8600e+04, 9.1000e+03, 1.8200e+04, 2.6000e+04,
       3.7700e+04, 2.2100e+04, 6.5000e+03, 1.3000e+04, 5.2000e+03,
       7.8000e+03, 3.9000e+03, 2.6000e+03, 1.3000e+03])

In [11]:
# Value20이 0인 선수 제거
df20.drop(df20[df20['Value20']==0].index, inplace=True)

In [12]:
# Wage20 원화로 바꿈.
df20.Wage20 = df20.Wage20*1300/10000
df20.Wage20 = df20.Wage20.astype(int)
df20.Wage20

0        73450
1        52650
2        37700
3        16250
4        61100
         ...
18273      260
18274      260
18275      130
18276      130
18277      260
Name: Wage20, Length: 18028, dtype: int32

In [13]:
df20.Wage20.unique()

array([73450, 52650, 37700, 16250, 61100, 48100, 32500, 26000, 44200,
       31200, 20150, 19500, 28600, 26650, 30550, 27950, 39000, 46150,
       24050, 33150, 37050, 14300, 34450, 25350, 17550, 42900, 22100,
       27300, 16900, 23400, 18200, 15600, 11570, 31850, 20800, 22750,
        8970, 13650, 21450,  9880,  4420, 14950,  9490, 10010,  3120,
       11440, 11960,  5070,  1950, 18850,  6370, 29250,  7930,  9100,
       12220,  5200, 11830, 10140,  2990,  4810,  2080,  5330,  7020,
        3380,  9230,  9750, 12480,  5590,  5720,  4680,  8710,  9620,
        5980,  4940, 12610,  2340,  8320, 12090, 13000,  6500, 10400,
        4550,  3770,  5460,  7800,  7540,  1430,  4290,  4030,  5850,
       10660,  4160,  2210,  6240,  6630, 11180,  2730,  8450,  8190,
       12350,  2860, 11700,  7670,  6110,  8840, 12870,  7280,  3510,
       12740, 11050,   130,  6760,  2600, 11310,  3640,  3900,  1820,
        7410, 10270,  2470,  8580,  8060,  1690,  3250, 10920,  1560,
        6890, 10530,  7150,  9360,  1300, 10790,   520,   780,  1170,
         910,  1040,   390,   650,   260])

In [14]:
df20['LogWage20'] = np.log1p(df20.Wage20)*10

In [15]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18028 entries, 0 to 18277
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    18028 non-null  int64
 1   Name                  18028 non-null  object
 2   Age20                 18028 non-null  int64
 3   Nationality           18028 non-null  object
 4   Club20                18028 non-null  object
 5   Overall20             18028 non-null  int64
 6   Potential20           18028 non-null  int64
 7   Wage20                18028 non-null  int32
 8   Value20               18028 non-null  float64
 9   ContractValidUntil20  18028 non-null  int32
 10  LogWage20             18028 non-null  float64
dtypes: float64(2), int32(2), int64(4), object(3)
memory usage: 1.5+ MB

# 13. 19년도 자료

In [16]:
df = pd.read_pickle('./dataset/나혼자FIFA_이적예상WAGE.pkl')
df19 = df[['ID','Age','Club','Overall','Potential','Wage','Value','ContractValidUntil']]

df19 = df19.rename(columns={'Age':'Age19','Club':'Club19','Overall': 'Overall19',
                            'Potential':'Potential19','Wage':'Wage19',
                            'Value':'Value19','ContractValidUntil':'ContractValidUntil19'})

df19

,ID,Age19,Club19,Overall19,Potential19,Wage19,Value19,ContractValidUntil19
0,158023,31,FC Barcelona,94,94,73450,14365000.0,2021
1,20801,33,Juventus,94,94,52650,10010000.0,2022
2,190871,26,Paris Saint-Germain,92,93,37700,15405000.0,2022
3,193080,27,Manchester United,91,93,33800,9360000.0,2020
4,192985,27,Manchester City,91,92,46150,13260000.0,2023
...,...,...,...,...,...,...,...,...
17902,238813,19,Crewe Alexandra,47,65,130,7800.0,2019
17903,243165,19,Trelleborgs FF,47,63,130,7800.0,2020
17904,241638,16,Cambridge United,47,67,130,7800.0,2021
17905,246268,17,Tranmere Rovers,47,66,130,7800.0,2019
17906,246269,16,Tranmere Rovers,46,66,130,7800.0,2019

In [17]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17907 entries, 0 to 17906
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    17907 non-null  int64
 1   Age19                 17907 non-null  int64
 2   Club19                17907 non-null  object
 3   Overall19             17907 non-null  int64
 4   Potential19           17907 non-null  int64
 5   Wage19                17907 non-null  int64
 6   Value19               17907 non-null  float64
 7   ContractValidUntil19  17907 non-null  object
dtypes: float64(1), int64(5), object(2)
memory usage: 1.2+ MB

In [18]:
df19.ContractValidUntil19.unique()

array(['2021', '2022', '2020', '2023', '2019', '2024', 'Jun 30, 2019',
       '2025', '2026', 'Dec 31, 2018', '2018', 'May 31, 2020',
       'Jun 30, 2020', 'May 31, 2019', 'Dec 31, 2019', 'Jan 1, 2019',
       'Jun 1, 2019', 'Jan 4, 2019', 'Jan 31, 2019', 'Jan 7, 2019',
       'Jan 2, 2019', 'Jan 6, 2019', 'Oct 14, 2019', 'Jan 3, 2019',
       'May 4, 2019', 'Jan 12, 2019', 'Jan 25, 2019', 'Jan 18, 2019',
       'Dec 1, 2019', 'Nov 30, 2018', 'Feb 27, 2020', 'Jan 5, 2019',
       'Jan 15, 2019', 'Jan 30, 2019', 'Jan 11, 2019', 'Jan 20, 2019'],
      dtype=object)

In [19]:
def change_date(date):
    years = ['2018','2019','2020','2021','2022','2023','2024','2025','2026']
    if date in years:
        out = date
    else:
        out = date.split(',')[1]
    return int(out) 
    
    
df19.ContractValidUntil19 = df19.ContractValidUntil19.apply(lambda x: change_date(x))
df19.ContractValidUntil19

0        2021
1        2022
2        2022
3        2020
4        2023
         ...
17902    2019
17903    2020
17904    2021
17905    2019
17906    2019
Name: ContractValidUntil19, Length: 17907, dtype: int64

# 14. 이적 선수 조사

In [23]:
df1920 = pd.merge(df19,df20,on='ID')
df1920 = df1920[['ID','Name','Age20','Nationality','Club19','Club20',
                 'Wage19','Wage20','Value19','Value20','Overall19','Overall20',
                 'Potential19','Potential20','ContractValidUntil19',
                 'ContractValidUntil20','LogWage20']]
df1920

,ID,Name,Age20,Nationality,Club19,Club20,Wage19,Wage20,Value19,Value20,Overall19,Overall20,Potential19,Potential20,ContractValidUntil19,ContractValidUntil20,LogWage20
0,158023,L. Messi,32,Argentina,FC Barcelona,FC Barcelona,73450.0,73450,14365000.0,12415000.0,94.0,94,94.0,94,2021.0,2021,112.043738
1,20801,Cristiano Ronaldo,34,Portugal,Juventus,Juventus,52650.0,52650,10010000.0,7605000.0,94.0,93,94.0,93,2022.0,2022,108.714405
2,190871,Neymar Jr,27,Brazil,Paris Saint-Germain,Paris Saint-Germain,37700.0,37700,15405000.0,13715000.0,92.0,92,93.0,92,2022.0,2022,105.374419
3,200389,J. Oblak,26,Slovenia,Atlético Madrid,Atlético Madrid,12220.0,16250,8840000.0,10075000.0,90.0,91,93.0,93,2021.0,2023,96.959097
4,183277,E. Hazard,28,Belgium,Chelsea,Real Madrid,44200.0,61100,12090000.0,11700000.0,91.0,91,91.0,91,2020.0,2024,110.202835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18023,245006,Shao Shuai,22,China PR,NaN,Beijing Renhe FC,NaN,260,NaN,5200.0,NaN,48,NaN,56,NaN,2019,55.645204
18024,250995,Xiao Mingjie,22,China PR,NaN,Shanghai SIPG FC,NaN,260,NaN,5200.0,NaN,48,NaN,56,NaN,2022,55.645204
18025,252332,Zhang Wei,19,China PR,NaN,Hebei China Fortune FC,NaN,130,NaN,5200.0,NaN,48,NaN,56,NaN,2019,48.751973
18026,251110,Wang Haijian,18,China PR,NaN,Shanghai Greenland Shenhua FC,NaN,130,NaN,5200.0,NaN,48,NaN,54,NaN,2022,48.751973
18027,233449,Pan Ximing,26,China PR,NaN,Hebei China Fortune FC,NaN,260,NaN,5200.0,NaN,48,NaN,51,NaN,2019,55.645204

# 20년도 새로운 클럽 조사

- 이름이 바꼈을 수도 있고 신생팀일 수도 있다.

In [24]:
np.sort(df1920.Club19.unique())

TypeError: '<' not supported between instances of 'float' and 'str'

In [22]:
np.sort(df1920.Club20.unique())

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
RenameTeam=[]
for i in range(df1920.shape[0]):
    if df1920.Club20[i] not in df1920.Club19.unique():
        RenameTeam.append(df1920.Club20[i])
        
dfRenameTeam = pd.DataFrame(RenameTeam,columns=['RenameTeam'])
dfRenameTeam

In [ ]:
print(len(dfRenameTeam.RenameTeam.unique()))
dfRenameTeam.RenameTeam.unique()

[20년 팀명, 19년 팀명]

- 'Guangzhou R&F FC', 'Guangzhou R&F; FC'
- 'CSA - AL', 'América FC (Minas Gerais)'
- 'Paraná', 'Fortaleza'
- 'Vitória', 'Goiás'
- 'Sport Club do Recife', 'Avaí FC'
-


[신생 구단]

- 'Atlético de San Luis'
- 'Wuhan Zall'
- 'Shenzhen FC'
- 'Famalicão'
- 'Gençlerbirliği SK'
- 'Denizlispor'
- 'Unión Magdalena'
- 'Racing Santander'
- 'Western United FC'
- 'FC Twente'
- 'Gazişehir Gaziantep F.K.'
- 'FC Cincinnati'
- 'Le Mans FC'
- 'Central Córdoba'
- 'Sparta Rotterdam'
- 'Castellammare di Stabia'
- 'Cúcuta Deportivo'
- 'FC Chambly Oise'
- 'FC Juárez'
- 'Gil Vicente FC'
- 'Damac FC'
- 'CF Fuenlabrada'
- 'FC Hermannstadt'
- 'Coquimbo Unido'
- 'Arsenal de Sarandí'
- 'Abha Club'
- 'Pordenone'
- 'FC Paços de Ferreira'
- 'SD Ponferradina'
- 'Rodez Aveyron Football'
- 'SV Waldhof Mannheim'
- 'CFR Cluj'
- 'KV Mechelen'
- 'Sepsi OSK'
- 'Virtus Entella'
- 'FC Voluntari'
- 'CD Mirandés'
- 'Servette FC'
- 'Helsingborgs IF'
- 'Salford City'
- 'CD Cobresal'
- 'Viktoria Köln'
- 'Astra Giurgiu'
- 'Matsumoto Yamaga'
- 'WSG Tirol'
- 'Pisa'
- 'Universitatea Craiova'
- 'Viking FK'
- 'Bayern München II'
- 'Silkeborg IF'
- 'Gaz Metan Mediaş'
- 'Oita Trinita'
- 'Mjøndalen IF'
- 'Trapani'
- 'Lyngby BK'
- 'RKC Waalwijk'
- 'Al Adalah'
- 'AFC Eskilstuna'
- 'Leyton Orient'
- 'Ross County FC'
- 'Raków Częstochowa'
- 'FC Botoşani'
- 'Finn Harps'
- 'Dinamo Bucureşti'
- 'UCD AFC'
- 'LKS Lodz'

# 신생팀 제거

In [ ]:
dropTeams = ['Atlético de San Luis','Wuhan Zall','Shenzhen FC','Famalicão',
 'Gençlerbirliği SK','Denizlispor','Unión Magdalena','Racing Santander',
 'Western United FC','FC Twente','Gazişehir Gaziantep F.K.','FC Cincinnati',
 'Le Mans FC','Central Córdoba','Sparta Rotterdam','Castellammare di Stabia',
 'Cúcuta Deportivo','FC Chambly Oise','FC Juárez','Gil Vicente FC','Damac FC',
 'CF Fuenlabrada','FC Hermannstadt','Coquimbo Unido','Arsenal de Sarandí',
 'Abha Club','Pordenone','FC Paços de Ferreira','SD Ponferradina',
 'Rodez Aveyron Football','SV Waldhof Mannheim','CFR Cluj','KV Mechelen',
 'Sepsi OSK','Virtus Entella','FC Voluntari','CD Mirandés','Servette FC',
 'Helsingborgs IF','Salford City','CD Cobresal','Viktoria Köln','Astra Giurgiu',
 'Matsumoto Yamaga','WSG Tirol','Pisa','Universitatea Craiova','Viking FK',
 'Bayern München II','Silkeborg IF','Gaz Metan Mediaş','Oita Trinita',
 'Mjøndalen IF','Trapani','Lyngby BK','RKC Waalwijk','Al Adalah','AFC Eskilstuna',
 'Leyton Orient','Ross County FC','Raków Częstochowa','FC Botoşani','Finn Harps',
 'Dinamo Bucureşti','UCD AFC','LKS Lodz']

In [ ]:
df1920.iloc[0]

In [ ]:
for i in dropTeams:
    df1920.drop(df1920[df1920.Club20==i].index, inplace=True)

In [ ]:
df1920

# 이름만 바뀐 팀 19년도 팀명으로 바꿔줌.

In [ ]:
def change_team_name(team):
    out = ''
    if team == 'Guangzhou R&F FC':
        out = 'Guangzhou R&F; FC'
        
    elif team == 'CSA - AL':
        out = 'América FC (Minas Gerais)'
        
    elif team == 'Paraná':
        out = 'Fortaleza'
        
    elif team == 'Vitória':
        out = 'Goiás'
        
    elif team == 'Sport Club do Recife':
        out = 'Avaí FC'       

    else:
        out = team

    return out

df1920.Club20 = df1920.Club20.apply(lambda x: change_team_name(x))
df1920.Club20

In [ ]:
df1920.info()

In [ ]:
df1920.to_pickle('./dataset/나혼자FIFA_df1920.pkl')

# 1) 그대로 그룹

## 팀도 그대로 금액도 그대로인 선수들

- 3827 명 중 18년까지 계약이였던 선수는 210이고 19년은 951명이다.

In [ ]:
len(df1920[df1920.Club19==df1920.Club20][df1920.Wage19==df1920.Wage20])

In [ ]:
df1920[df1920.Club19==df1920.Club20][df1920.Wage19==df1920.Wage20].T

## 그대로 그룹 중 계약기간이 18년까지였던 선수들

In [ ]:
len(df1920[df1920.Club19==df1920.Club20][df1920.Wage19==df1920.Wage20][df1920.ContractValidUntil19==2018])

In [ ]:
df1920[df1920.Club19==df1920.Club20][df1920.Wage19==df1920.Wage20][df1920.ContractValidUntil19==2018].T

## 그대로 그룹 중 계약기간이 19년까지였던 선수들

In [ ]:
len(df1920[df1920.Club19==df1920.Club20][df1920.Wage19==df1920.Wage20][df1920.ContractValidUntil19==2019])

In [ ]:
df1920[df1920.Club19==df1920.Club20][df1920.Wage19==df1920.Wage20][df1920.ContractValidUntil19==2019].T

# 2) 이적한 선수

In [ ]:
len(df1920[df1920.Club19!=df1920.Club20])

In [ ]:
df1920Transfer = df1920[df1920.Club19!=df1920.Club20]
df1920Transfer.T

In [ ]:
df1920Transfer.to_pickle('./dataset/나혼자FIFA_df1920Transfer.pkl')

# 3) 재계약한 선수

In [ ]:
len(df1920[df1920.Club19==df1920.Club20][df1920.Wage19!=df1920.Wage20])

In [ ]:
df1920[df1920.Club19==df1920.Club20][df1920.Wage19!=df1920.Wage20].T